<div class="row">
  <div class="col-lg-12">
    <%= render 'admin/partials/error_messages', resource: @semester, field: true %>

    <div class="panel panel-default">
      <div class="form">
        <div class="panel-heading">
          <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Novo semestre</div>
        <div class="panel-body">
          <div class="col-md-12">
            <%= form_for :semester, class: 'form-control', url: admin_semesters_path do |f| %>
            <div class="row">
              <div class="form-group">
                <%= f.label :year, "Ano"%>
                <%= f.select(:year, (Time.now.year - 5)..Time.now.year,{}, {:class => "form-control"})%>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.label :semester, "Semestre"%>
                <%= f.select(:semester, 1..2 ,{}, {:class => "form-control"})%>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.label :status, "Status"%>
                <%= f.select(:status, [['Ativo', true], ['Inativo', false]] ,{} ,{class:"form-control"})%>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.submit 'Salvar', class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
