<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked database "><use xlink:href="#stroked-database"/></svg> Autorizações
          </div>
          <div class="col-md-4">
            <%= link_to 'Cadastrar nova permissão', new_admin_authorization_path, class: "btn btn-success pull-right" %>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <table data-toggle="table" id="table-import" data-search="true" data-pagination="true">
          <thead>
              <th>ID</th>
              <th>Usuário</th>
              <th>Curso</th>
              <th> </th>
          </thead>

          <tbody>
            <% @authorizations.each do |admin_authorization| %>
            <tr>
              <td><%= admin_authorization.id %></td>
              <td><%= admin_authorization.user.registration %></td>
              <td><%= admin_authorization.course.name %></td>
              <td><%= link_to 'Delete', admin_authorization_path(admin_authorization), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
