<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default ">
      <div class="form-horizontal">
        <div class="panel-heading"><svg class="glyph stroked desktop computer and mobile"><use xlink:href="#stroked-desktop-computer-and-mobile"></use></svg> Laboratório <%= @laboratory.initials%></div>
          <div class="panel-body">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <%= label_tag("Nome: ")%>
                  <%= @laboratory.name%>
                </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-4">
                    <%= label_tag("Sigla: ")%>
                    <%= @laboratory.initials %>
                  </div>
                </div>
              <br />
              <div class="row ">
                <div class="col-md-4">
                  <%= label_tag("Capacidade máxima: ")%>
                  <%= @laboratory.maximum_capacity %>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <%= label_tag("Quantidade de recursos: ")%>
                  <%= @laboratory.amount_resources %>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-3">
                  <%= label_tag("Status: ")%>
                  <% if @laboratory.status? %>
                  <span class="label label-success">Ativo</span>
                  <% else %>
                  <span class="label label-danger">Inativo</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
