<div class="row">
	<div class="col-lg-12">
	</div>
</div><!--/.row-->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
        <%= form_tag(importar_admin_course_subject_index_path, class: 'form-inline') do |f| %>
        <div class="row">
          <div class="col-md-8">
            <%= label_tag("id_curso", "Curso") %>
            <%= select_tag("id_curso", options_from_collection_for_select(@courses, 'id', 'description'), class: "selectpicker", data: {'live-search' => 'true', width: "50%"}) %>
          </div>
          <div class="col-md-4">
           <%= button_tag("Importar do SUAP", class: "btn btn-success pull-right") %>
          </div>
        </div>
       <% end %>
     </div>
      <div class="panel-body">
        <table data-toggle="table" id="table-import" data-search="true">
         <thead>
          <th>#</th>
          <th>Descrição</th>
          <th>Sigla</th>
          <th>Curso</th>
          <th>Período</th>
        </thead>
        <tbody>
          <%- @course_subjects.each do |subject| %>
          <tr>
           <td><%= subject.id %></td>
           <td><%= subject.description %></td>
           <td><%= subject.initials %></td>
           <td><%= subject.course.description %></td>
           <td><%= subject.semester %></td>
         </tr>
         <% end %>
       </tbody>
     </table>
		 <nav>
		 <ul class="pager">
				<%= page_entries_info @course_subjects %>
				<br>
			 <li><%= will_paginate @course_subjects, :page_links => false, :container => false %></li>
		 </ul>
	 </nav>
   </div>
 </div>
</div>
</div>
