<%= form_for :user, url: admin_user_permission_index_path do |form| %>
  <div class="form-group">
    <%= form.label :name, "Matricula" %>
    <%= form.text_field "user_registration", :value => @user.registration, :readonly => true, id: :classroom_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :name, "Permissoes" %>
    <ul style="display: inline; list-style-type: none">
      <% @permissions.each do |p| %>
          <li>
            <%= check_box_tag 'permission_ids[]', p.id -%>
            <%= h p.title -%>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= form.submit 'Salvar', class: 'btn btn-success' %>
  </div>
<% end %>
