<div class="row">
	<div class="col-lg-12">
	</div>
</div><!--/.row-->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		        <%= form_tag(importar_admin_courses_path, class: 'form-inline') do |f| %>
		        	<div class="form-group">
		        		<%= label_tag("id_campus", "Campus") %>
		            	<%= select_tag("id_campus", options_from_collection_for_select(@campus, 'id', 'description'), class: "form-control") %>
		            </div>
					<div class="form-group">
						<%= label_tag("ano_letivo", "Ano letivo") %>
		            	<%= select_tag("ano_letivo", options_for_select((2012..Date.today.year).reverse_each.map { |ano| [ano, ano]}, 2), class: "form-control") %>
		            </div>
		            <div class="form-group">
		            	<%= label_tag("periodo_letivo", "Semestre") %>
		            	<%= select_tag("periodo_letivo", options_for_select([[1,1], [2,2]], 1), class: "form-control") %>
		            </div>
		          <%= button_tag("Importar do SUAP", class: "btn btn-success pull-right") %>
		        <% end %>
			</div>
			<div class="panel-body">
				<table data-toggle="table" id="table-import" data-search="true" data-pagination="true">
					<thead>
						<th>#</th>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Código</th>
						<th>Importado em</th>
					</thead>

					<tbody>
						<%- @courses.each do |campi| %>
						<tr>
							<td><%= campi.id %></td>
							<td><%= campi.name %></td>
							<td><%= campi.description %></td>
							<td><%= campi.code %></td>
							<td><%= campi.updated_at %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

